<footer id="is-footer-copyright-group">	
	<div id="footer" class="footer footer-styte-2 text-center container	clearfix">
		<div class="footer-menu text-center">
			{% include "module-single-menu-no-header" with settings.footer_menu_style_2 %}
			<div class="copyright">
				<p>{{ settings.footer_copyright_text }}</p> 
			</div>
			<div class="social">
				{% include "module-social-account-template" %}
			</div>
		</div>
	</div> <!-- End .is-footer -->
</footer> <!-- End .is-footer-copyright-group -->