<!-- Modal -->
<div class="modal fade" id="outofModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document"> <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Out of Stock</h4>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn collection-btn-inverse" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>