{% assign breadcrumb_class = 'wishlist-breadcrumb' %}
{% include 'module-breadcrumb-title' %}
<div id="is-content" class="is-content">
	<div class="content-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="section-element ">
						{{ page.content }}
					</div>
				</div>
				<div class="col-sm-6">
					<div class="section-element ">
						{formbuilder:11160}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

